@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
    background-color: #2ecc71;
    font-family: "Fjalla One", sans-serif;
    margin: 0;
    padding: 0;
}

main {
    max-width: 700px;
    margin: 40px auto;
    text-align: center;
    background-color: #eaffea;
    padding: 20px;
    border-radius: 15px;
}

header {
    text-align: center;
    margin-top: 20px;
}

img {
    border-radius: 15px;
    border: 3px solid darkgreen;
}

section {
    margin-bottom: 30px;
}

h2 {
    border-bottom: 2px solid darkgreen;
    padding-bottom: 5px;
}

ul {
    padding-left: 20px;
}

.theme-btn {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    background: black;
    color: white;
    transition: 0.3s;
}

.theme-btn:hover {
    background: gray;
}

.toggle-btn {
    margin-left: 15px;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: darkgreen;
    color: white;
}

.toggle-btn:hover {
    opacity: 0.8;
}

.error {
    color: red;
    font-size: 12px;
}

input, textarea {
    width: 300px;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background: linear-gradient(135deg, #ff4b2b, #ff416c);
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* поля */
input, textarea {
    width: 320px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: 0.2s;
}

input:focus, textarea:focus {
    border-color: #ff416c;
    outline: none;
}

/* ошибки */
.error {
    color: red;
    font-size: 13px;
}

/* успех */
#successMsg {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}